<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/static/style.css?v=1">
</head>

<body class="bg">

<canvas id="confetti-canvas"></canvas>

<div class="hearts"></div>

<div class="card">

    <img src="/static/images/kiss.png" class="top-img">

    <h1 class="pop-text">
        Yaaahhh! Be my forever valentine! ❤️
    </h1>

    <h3 class="red-text">
        I want to show you some special moments of us!
    </h3>


    <button onclick="location.href='/moments'">
        See Moments
    </button>

</div>

<script src="/static/confetti.js"></script>
<script src="/static/hearts.js"></script>

</body>
</html>
